# .dockerignore
data/
greenbone-community-container/
staticfiles/
media/
venv/
.venv/
__pycache__/
*.py[cod]
*.log
*.sqlite3
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.tox/
.cache/
.DS_Store
.env
.git
.gitignore
node_modules/
docs/
dist/
build/
htmlcov/
playwright-report/
test-results/
tmp/
tmp/**
