[Unit]
Description=MiniMega Command and Control Client
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/miniccc
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target